[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[Filesystem root]
row=0
col=0

[tmp]
row=3
col=0

[cbc964d9-e741-44e2-ba99-aae8f25082cf]
row=1
col=0

[home]
row=2
col=0

[var]
row=4
col=0

[/]
row=5
col=0

[/home/user]
row=6
col=0

