[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/user/Desktop/torrc.wip]
row=7
col=0

[/home/user/Desktop/dns_mask.txt]
row=4
col=1

[/home/user/Desktop/rasbberry-guide-gateway]
row=2
col=1

[/home/user/Desktop/accounts.txt]
row=0
col=1

[/home/user/Desktop/rasbberry-guide-gateway.gpg]
row=3
col=1

[/home/user/Desktop/throwbin_cleaner.py]
row=1
col=1

[/home/user/Desktop/torrc.wip.gpg]
row=8
col=0

[/home/user/Desktop/rasbberry-guide]
row=9
col=0

[cbc964d9-e741-44e2-ba99-aae8f25082cf]
row=1
col=0

[home]
row=2
col=0

[Filesystem root]
row=0
col=0

[tmp]
row=3
col=0

[var]
row=4
col=0

[/]
row=5
col=0

[/home/user]
row=6
col=0

